@charset "UTF-8";
/* Variables */
/* Aca comienza navBar */
.navbar {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
}
.navbar .container-fluid .marcaR {
  pointer-events: none;
  padding-left: 30px;
}
.navbar .container-fluid .iconoP {
  margin-right: 10px;
}
.navbar .container-fluid li {
  transition: box-shadow 0.9s ease;
  /* Transicionn suave para el efecto */
}
.navbar .container-fluid li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
  /* Sombra cuando se pasa el mouse */
}

/* Todo el Documento */
h1,
h2 {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-direction: ease-in;
  animation-iteration-count: infinite;
}
@keyframes aparecer {
  0% {
    opacity: 90%;
  }
  25% {
    opacity: 50%;
  }
  50% {
    opacity: 25%;
  }
  75% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

/* Aca comienza index.html */
.container-fluid .imagenArriba {
  background-image: url(../resources/mate-2465868_1280.jpg);
  background-position: center;
  border: 1px solid white;
}
.container-fluid .textoAbA {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}
.container-fluid .conoceN {
  text-decoration: none;
  color: rgb(123, 115, 115);
  font-size: 20px;
}
.container-fluid .conoceN:hover {
  color: rgb(140, 140, 108);
  font-size: 20px;
  text-shadow: 0 4px 8px;
}

.container-fluid .textoAb {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}

.textAbSeg {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}

.imgAb {
  background-image: url(../resources/mate-2445221_1280.jpg);
  background-position: center;
  border: 1px solid white;
}

.contenedorNosotros {
  margin: 0px !important;
  padding: 30px;
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  border-top: 1px solid white;
}

/* Aca Empieza el Css de Historia.Html */
main .carousel:hover {
  transition: 2s ease;
  filter: grayscale(100%);
}
main .carousel .textoVia,
main .carousel .textoCamino,
main .carousel .textoPlanta {
  text-shadow: 1px 1px 5px white;
  font-weight: bold;
  font-size: 30px;
}
main .fotoMedio {
  background-image: url(../resources/campo2.jpg);
  background-position: center;
  border: 1px solid white;
}
main .textoMedio,
main .textoAbH,
main .textAbSegH {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}
main .imgAbH {
  background-image: url(../resources/campo3.jpg);
  background-position: center;
  border: 1px solid white;
}

/* Aca Empieza el Css de Galeria.Html */
.fondoVideo {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}

.fotoArrG {
  background-image: linear-gradient(to right bottom, rgba(25, 255, 56, 0.155), rgba(255, 25, 25, 0.5)), url(../resources/campo2.jpg);
  background-position: center;
  border: 1px solid white;
}

.fotoArrG {
  text-shadow: 10px 5px 10px rgb(4, 4, 4);
  text-align: center;
  color: rgb(238, 236, 111);
  padding: 100px;
  font-size: 1.3em;
  font-weight: bold;
}

.fotoAbU {
  background-image: url(../resources/costado.jpg);
  background-position: center;
  height: 50vw;
  background-size: cover;
  transition: all 0.3s ease;
}
.fotoAbU:hover {
  transform: scale(1.2);
}

.fotoAbD {
  background-image: url(../resources/costado1.jpg);
  background-position: center;
  height: 50vw;
  background-size: cover;
}
.fotoAbD:hover {
  animation-name: efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

.fotoAbT {
  background-image: url(../resources/nueva1.jpg);
  background-position: center;
  height: 50vw;
  background-size: cover;
  transition: all 0.3s ease;
}
.fotoAbT:hover {
  transform: scale(1.2);
}

.fotoAbUU {
  background-image: url(../resources/nueva.jpg);
  background-position: center;
  height: 50vw;
  background-size: cover;
  transition: all 0.3s ease;
}
.fotoAbUU:hover {
  transform: scale(1.2);
}

.fotoAbTT {
  background-image: url(../resources/nueva2.jpg);
  background-position: center;
  height: 50vw;
  background-size: cover;
}
.fotoAbTT:hover {
  animation-name: efecto;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 5s;
}

.fotoArrG,
.fotoAbU,
.fotoAbD,
.fotoAbUU,
.fotoAbTT {
  border: 3px solid white;
}

/* Aca Empieza el Css de Referencia.Html */
.nuestrasA,
.confianzaC,
.primerR,
.segundoR,
.tercerR {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  text-align: center;
  font-size: 2vw;
  padding: 30px;
  border-top: 1px solid white;
}

.icoU {
  background-image: url(../resources/icono.jpg);
  background-position: center;
  border: 1px solid white;
}

.icoD {
  background-image: url(../resources/icono1.jpg);
  background-position: center;
  border: 1px solid white;
}

.icoT {
  background-image: url(../resources/icono3.jpg);
  background-position: center;
  border: 1px solid white;
  background-position: right;
  background-size: cover;
}

/* Aca Empieza el Css de Contacto.Html */
.contactoFondo {
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
}

.contacto {
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
  font-weight: bold;
}

.contactoF {
  font-size: 1em;
}

.contenedorBotones {
  margin: 30px;
  padding: 20px;
}

.range-container {
  position: relative;
}

.range-values {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: -20px; /* Ajusta esta posición según sea necesario */
  left: 4px;
}

.range-values span {
  position: relative;
}

/* Aca Empieza el Css del Footer  */
.mb-4 {
  padding-top: 25px;
}

/* Aca empieza los Medias Queries */
@media (max-width: 575.98px) {
  .imgAbH,
  .imgAb,
  .icoU,
  .icoD,
  .icoT,
  .imagenArriba {
    height: 30vw;
    background-position: center;
  }
  .icoD {
    order: 2;
  }
  .segundoR {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */